---
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Alloygator Wheel Protection | Mobile Fitting"
const description = "Protect your rims from curb damage with our AlloyGator Wheel Protectors. Mobile fitting available. All colours in stock. Qualified staff."
const heroBgImg = "url(/img/services/alloygator-wheel-protection.webp)"
const heroHeading = "Alloygator Wheel Protection"
const heroSubheading = "Prevent Curb Rash and Save Your Alloy Wheels From Scratches"
const mainHeading = "AlloyGator Rim Protectors"
---

<MainLayout
  title={title}
  description={description}
  heroHeading={heroHeading}
  heroSubheading={heroSubheading}
  heroBgImg={heroBgImg}
  mainHeading={mainHeading}
>
<p>Keep your alloys in mint condition with some Alloygator wheel protectors. These rim protectors are one of the most resilient on the market and are available in range of different colors such as blue, red, yellow and green! You can find out more on their official website: https://alloygator.com/uk/</p>
<p>We provide a free mobile fitting service if you are located in our normal service area such as Poole, Bournemouth, Ringwood, Blandford or Wareham.</p>
</MainLayout>
