---
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Alloy Wheel Repair In Poole & Bournemouth"
const description = "If you've got a crack or buckle in your alloy wheel, our mobile technicians can come to you and repair it today!"
const heroBgImg = "url(/img/services/freeway-mobile-tyres.webp)"
const heroHeading = "Alloy Wheel Repair"
const heroSubheading = "We Can Fix Your Cracked or Buckled Wheel at Home"
const mainHeading = "Alloy Wheel Repair in Poole & Bournemouth"
---

<MainLayout
  title={title}
  description={description}
  heroHeading={heroHeading}
  heroSubheading={heroSubheading}
  heroBgImg={heroBgImg}
  mainHeading={mainHeading}
>
<p>We specialize in <strong>alloy wheel repair</strong>, providing a convenient and mobile solution for those dealing with cracks or buckles that cause flat tires. Our skilled technicians are equipped with state-of-the-art tools and expertise to tackle any alloy wheel damage.</p>
        <p>With our mobile service, we come directly to you, whether you're in Poole or Bournemouth. Our goal is to restore your alloy wheel's integrity and get you back on the road safely. From welding cracks to straightening buckles, we offer professional and efficient repairs to ensure a smooth and enjoyable driving experience.</p>
        <p>Don't let a damaged alloy wheel slow you down. Contact Freeway Mobile Tyres today for expert repairs delivered right to your doorstep. Trust us to bring your wheels back to their best and keep you on the move hassle-free.</p>
</MainLayout>
